*{
    padding: 0;
    margin: 0;

}
/* header */
header{
    background-color:rgb(255, 105, 0);
    height: 75px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    background-image: url(..//img/boolean-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 40%;
    width: 10%;
}
/* main */
.container{
    margin: 0 auto;
    height: 75%;
}
.row{
    width: 100%;
    display:flex;
    justify-content: center;
}
.col{
    width: calc(80% / 3);
    margin-bottom: 10%;
    
}
.content{
    margin-top: 10%;
    position: relative;
}
.content img{
    width: 80%;
    margin: auto;
}

.red_text{
    color: red;
}
.linea_text{
    text-decoration: line-through;
}
.sostenibilità{
    background-color: green;
    color: white;
    text-align: center;
    width: 23%;
    font-size: 15px;
    position: absolute;
    top: 89%;
    right: 66%;
}
.sostenibilità_2{
    background-color: green;
    color: white;
    text-align: center;
    width: 23%;
    font-size: 15px;
    position: absolute;
    top: 89%;
}

.sconto{
    background-color: red;
    color: white;
    width: 10%;
    text-align: center;
    font-size: 15px;
    position: absolute;
    top: 89%;
}
.heart{
    background-color: white;
    position: absolute;
    text-align: center;
    font-size: 31px;
    top: 12%;
    right: 20%;
    width: 10%;
}
.overlay{
    opacity: 0;
    width: 100%;
    height: 98%;
    position: absolute;
    top: 0;
    right: 10%;
    display: flex;
    justify-content: center;
    align-items: 0;
}
.col:hover .overlay{
    opacity: 1;
}
/* footer */
footer{
    background-color: rgb(26, 26, 26);
    width: 100%;
    height: 140px;
}
.foot{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.social_box{
    background-color: white;
    color: black;
}