*{
    padding: 0;
    margin: 0;

}
header{
    background-color:rgb(255, 105, 0);
    height: 75px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    background-image: url(..//img/boolean-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 40%;
    width: 10%;
}
.container{
    margin: 0 auto;
    height: 75%;
}
.row{
    width: 100%;
    display:flex;
    justify-content: center;
}
.col{
    width: calc(80% / 3);
    
}
.content{
    padding-top: 10%;
    position: relative;
}
.content img{
    width: 80%;
    margin: auto;
}

.red_text{
    color: red;
}
.linea_text{
    text-decoration: line-through;
}
.sostenibilità{
    background-color: green;
    color: white;
    text-align: center;
    width: 23%;
    font-size: 15px;
    position: absolute;
    top: 89%;
    right: 66%;
}
.sconto{
    background-color: red;
    color: white;
    width: 10%;
    text-align: center;
    font-size: 15px;
    position: absolute;
    top: 89%;
}